#element-info {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: white; */
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 80%;
    overflow-y: auto;
    width: 90%;
    max-width: 500px;
}

#element-symbol {
    text-align: center;
    font-size: 40px;
}

#element-properties {
    font-size: 25px;
    line-height: 40px;
}

/*
#element-info button {
    text-align: center;
    background-color: #00a295;
    font-size: 30px;
    padding: 10px 20px;
    color: aliceblue;
    min-width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
*/


.hidden {
    display: none;
}

/* For smaller screens */
@media (max-width: 600px) {
    #element-info {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.element {
    cursor: pointer;
}

body {
  background-image: url('page-bg-pattern.gif'); /* Local file path */
  background-repeat: repeat; /* Makes it tile */
  background-attachment: fixed; /* Makes it stay in place while scrolling */
  margin: 0; /* Removes default body margin */
}


/* my footer code */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00a295;
	opacity: 0.95;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.left, .center, .right {
    flex: 1;
    text-align: center;
	font-size: 17px;
}

.left {
    text-align: left;
	margin-left: 5rem;
}

.right {
    text-align: right;
	margin-right: 5rem;
}


/* colours for the 4 values */
.element { color:#000; font-weight:bold; }